.container {
  width: 580px;
  height: 200px;
  position: absolute;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 6px;
  background-color: white;
  color: #000000;
  z-index: 10;
  overflow: auto;
  transition: all 0.2s;
}

.moreIcon {
  display: flex;
  justify-content: center;
  left: 20.83%;
  right: 20.83%;
  top: 43.75%;
  bottom: 43.75%;
  font-size: 24px;
  color: #9f9f9f;
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
  left: 13.4%;
  right: 13.4%;
  top: 13.4%;
  bottom: 13.4%;
}

.spinner {
  font-size: 20px;
  color: #4b4b4b;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}
