.container {
  width: 580px;
  height: 200px;
  position: absolute;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 6px;
  background-color: white;
  color: #000000;
  z-index: 10;
  overflow: auto;
  transition: all 0.2s;
}

.moreIcon {
  display: flex;
  justify-content: center;
  color: #7e7e7e;
  font-size: 24px;
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
}

.spinner {
  font-size: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
